<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Url</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="inputContainer">
      <form action="/create-short-link" method="post">
        <label class="labels" for="originalUrl">Original URL:</label>
        <input type="text" id="originalUrl" name="originalUrl" class="inputClass" required />
        <button class="btn" type="submit">Create Short Link</button>
      </form>
    </div>
  </body>
</html>
