<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="inputContainer">
      <h1>SignUp Page</h1>
      <form action="/register" method="post">
        <label class="labels" for="name">Name:</label>
        <input type="text" id="name" name="name" class="inputClass" required />
        <br />
        <label class="labels" for="username">Username:</label>
        <input type="text" id="username" name="username" class="inputClass" required />
        <br />
        <label class="labels" for="password">Password:</label>
        <input type="password" id="password" name="password" class="inputClass" required />
        <br />
        <button class="btn" type="submit">Sign Up</button>
      </form>
      <span> Already have an account? <a href="/login">Login</a> </span>
    </div>
  </body>
</html>
